.form-field {
  margin-bottom: 10px;
}

.form-label {
  display: block;
  margin-bottom: 7px;
}

.form-textarea {
  min-height: 100px;
}

.form-textarea,
.form-text-field {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid #00b6ad;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 16px;
}

.form-action {
  margin-top: 20px;
}

.form-errors {
  color: #dc554f;
}

.form-error-message {
  list-style: none;
  margin-bottom: 10px;
}
